In [9]:
import pandas as pd
import numpy as np
import h2o
from h2o.automl import H2OAutoML

In [10]:
train_impuded = pd.read_csv("/Users/nwong/Workspace/Projects/tdt4173_project/data/impuded/stores_train.csv")
test_impuded = pd.read_csv("/Users/nwong/Workspace/Projects/tdt4173_project/data/impuded/stores_test.csv")

In [21]:
simen_train = pd.read_csv("/Users/nwong/Workspace/Projects/tdt4173_project/data/simen/simen_train.csv").drop(["Unnamed: 0"], axis =1)
simen_test = pd.read_csv("/Users/nwong/Workspace/Projects/tdt4173_project/data/simen/simen_test.csv").drop(["Unnamed: 0"], axis =1)

In [22]:
for index, row in train_impuded.iterrows():
    simen_train.loc[simen_train['store_id'] == row['store_id'], 'mall_name'] = row['mall_name']
    simen_train.loc[simen_train['store_id'] == row['store_id'], 'address'] = row['address']
    simen_train.loc[simen_train['store_id'] == row['store_id'], 'chain_name'] = row['chain_name']

In [13]:
for index, row in test_impuded.iterrows():
    simen_test.loc[simen_test['store_id'] == row['store_id'], 'mall_name'] = row['mall_name']
    simen_test.loc[simen_test['store_id'] == row['store_id'], 'address'] = row['address']
    simen_test.loc[simen_test['store_id'] == row['store_id'], 'chain_name'] = row['chain_name']

In [23]:
simen_train = simen_train.loc[:, ~simen_train.columns.isin(['high_income', 'low_income', 'high_density', 'low_density', 'lat', 'lon', 'grunnkrets_id', 'lv1', 'lv2', 'lv3', 'lv4'])]
simen_test = simen_test.loc[:, ~simen_test.columns.isin(['high_income', 'low_income', 'high_density', 'low_density', 'lat', 'lon', 'grunnkrets_id', 'lv1', 'lv2', 'lv3', 'lv4'])]

In [20]:
simen_train = simen_train[(simen_train.revenue > -1.8785)]

,Unnamed: 0,store_id,store_name,plaace_hierarchy_id,sales_channel_name,address,chain_name,mall_name,revenue,pt_yeo_all_households,...,pt_box_municipality_name_density,lv1,lv2,lv3,lv4,lastname,firstname,street,level2,level3
0,0,983540538-974187930-44774,MCDONALD'S BRAGERNES TORG MAGASINET,1.1.1.0,Hamburger restaurants,BRAGERNES TORG 13,MCDONALDS,Magasinet Drammen,17.998,-0.756455,...,0.833192,1,1,1,0,MAGASINET,MCDONALD'S,BRAGERNES TORG Drammen,"1,1","1,1,1"
1,1,987074191-973117734-44755,MCDONALD'S KLINGENBERGGATA,1.1.1.0,Hamburger restaurants,KLINGENBERGGATA 4,MCDONALDS,NaN,23.828,-1.044246,...,1.587416,1,1,1,0,KLINGENBERGGATA,MCDONALD'S,NaN,"1,1","1,1,1"
2,2,984890265-981157303-64491,BURGER KING HØNEFOSS,1.1.1.0,Hamburger restaurants,KONG RINGS GATE 1,BURGER KING,Kuben Hønefoss,16.099,-1.377786,...,-0.853802,1,1,1,0,HØNEFOSS,BURGER,KONG RINGS GATE Ringerike,"1,1","1,1,1"
3,3,914057442-992924179-126912,BURGER KING GLASSHUSPASSASJEN,1.1.1.0,Hamburger restaurants,STORGATA 12,BURGER KING,Glasshuspassasjen,9.296,-0.812450,...,0.178579,1,1,1,0,GLASSHUSPASSASJEN,BURGER,STORGATA Bodø,"1,1","1,1,1"
4,4,913018583-913063538-668469,BURGER KING TILLERTORGET,1.1.1.0,Hamburger restaurants,IVAR LYKKES VEG 3,BURGER KING,Tillertorget,4.528,1.658276,...,0.572502,1,1,1,0,TILLERTORGET,BURGER,NaN,"1,1","1,1,1"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12854,12854,915789943-915806929-781991,MEIERIGÅRDEN BRYGGERIUTSALG,2.8.11.2,Beer and soda shop,THUEGATA 2,NaN,NaN,0.088,-0.957947,...,0.032579,2,8,11,2,BRYGGERIUTSALG,MEIERIGÅRDEN,THUEGATA Horten,"2,8","2,8,11"
12855,12855,917921733-917982368-868081,GULATING ØLUTSALG CC GJØVIK,2.8.11.2,Beer and soda shop,JERNBANESVINGEN 6,GULATING GRUPPEN,CC Gjøvik,1.816,-2.108644,...,-0.824242,2,8,11,2,GJØVIK,GULATING,NaN,"2,8","2,8,11"
12856,12856,911721961-911764474-496764,GULATING ØLUTSALG STRØMMEN,2.8.11.2,Beer and soda shop,STØPERIVEIEN 6,GULATING GRUPPEN,Strømmen Storsenter,38.225,-0.273816,...,0.470185,2,8,11,2,STRØMMEN,GULATING,STØPERIVEIEN Skedsmo,"2,8","2,8,11"
12857,12857,914337046-914343372-721294,DET GODE BRYGG,2.8.11.2,Beer and soda shop,VÅGSGATA 16,NaN,Bystasjonen,3.642,-0.951896,...,-0.165527,2,8,11,2,BRYGG,DET,VÅGSGATA Sandnes,"2,8","2,8,11"
12858,12858,917494436-917551936-851089,TROMSØ BRYGGERIUTSALG AS,2.8.11.2,Beer and soda shop,PLANETVEGEN 10,NaN,NaN,2.328,0.248610,...,0.485065,2,8,11,2,AS,TROMSØ,PLANETVEGEN Tromsø,"2,8","2,8,11"

In [ ]:
# Start the H2O cluster (locally)
h2o.init()

# Import a sample binary outcome train/test set into H2O
train = h2o.H2OFrame(simen_train)
test = h2o.H2OFrame(simen_test)


#test = h2o.H2OFrame(pd.concat([test_set, stores_test_enriched[['store_id']]], axis=1).drop(drop_cols, axis=1))

In [ ]:
# Identify predictors and response
x = train.columns
y = "revenue"
x.remove(y)

# Run AutoML for 20 base models
aml = H2OAutoML(max_models=20, seed=1, exclude_algos=['deeplearning'])
aml.train(x=x, y=y, training_frame=train)

In [ ]:
lb = aml.leaderboard
lb.head(rows=lb.nrows)  # Print all rows instead of default (10 rows)

In [ ]:
# The leader model is stored here
aml.leader

In [ ]:
m = h2o.get_model(lb[3,"model_id"])
m.varimp(use_pandas=True)